* linguist-vendored
*.cpp linguist-vendored=false
*.cs linguist-vendored=false
*.pde linguist-vendored=false
*.p8 text diff=lua
*.p8 linguist-vendored=false
*.lua linguist-vendored=false
*.java text diff=java
*.Java text diff=Java
*.java linguist-vendored=false
*.Java linguist-vendored=false